
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#080808;
    color:white;
}

.container{
    width:85%;
    max-width:1200px;
    margin:auto;
}

section{
    padding:80px 0;
}

h2{
    color:#d4af37;
    text-align:center;
    font-size:38px;
    margin-bottom:30px;
}


/* MENU */

nav{
    position:absolute;
    top:0;
    width:100%;
    padding:30px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:10;
}

.logo{
    color:#d4af37;
    font-size:28px;
    font-weight:bold;
    letter-spacing:3px;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}


/* CAPA */

.hero{
    height:100vh;
    background:
    linear-gradient(
    rgba(0,0,0,.65),
    rgba(0,0,0,.85)
    ),
    url("https://images.unsplash.com/photo-1600607687939-ce8a6c25118c")
    center/cover;

    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}


.hero-content h1{
    font-size:65px;
    color:#d4af37;
    letter-spacing:8px;
}


.hero-content h2{
    color:white;
}


.btn{
    display:inline-block;
    padding:15px 35px;
    background:#d4af37;
    color:#000;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    margin-top:20px;
}


/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}


.card{
    background:#111;
    padding:30px;
    border:1px solid #333;
    border-radius:12px;
    text-align:center;
}


.card h3{
    color:#d4af37;
    margin-bottom:15px;
}


/* GALERIA */

.fotos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}


.fotos img{
    width:100%;
    height:280px;
    object-fit:cover;
    border-radius:12px;
}


/* CONTATO */

.contato{
    background:#111;
    text-align:center;
}


/* WHATSAPP */

.whatsapp{
    position:fixed;
    right:25px;
    bottom:25px;
    background:#25d366;
    color:white;
    padding:15px 25px;
    border-radius:50px;
    text-decoration:none;
}


/* ORÇAMENTO */

.orcamento{
    min-height:100vh;
    background:#080808;
    text-align:center;
}


.orcamento form{
    max-width:600px;
    margin:40px auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}


.orcamento input,
.orcamento select,
.orcamento textarea{

background:#111;
border:1px solid #333;
padding:15px;
border-radius:8px;
color:white;

}


.orcamento textarea{
height:150px;
}


/* RODAPÉ */

footer{
    background:#000;
    padding:30px;
    text-align:center;
    color:#aaa;
}


/* CELULAR */

@media(max-width:768px){

.hero-content h1{
font-size:40px;
}

nav{
flex-direction:column;
}

nav ul{
flex-direction:column;
}

.container{
width:90%;
}

}
