
/* ANIMAÇÕES */

.card,
.sobre p,
.fotos img,
.contato{

opacity:0;

transform:translateY(40px);

transition:1s;

}


.mostrar{

opacity:1;

transform:translateY(0);

}
.frase-destaque{

font-size:18px;

max-width:700px;

margin:20px auto 30px;

color:#ddd;

line-height:1.6;

}
.categoria{

margin-bottom:70px;

}


.categoria h3{

color:#d4af37;

font-size:26px;

margin-bottom:25px;

text-align:left;

}


.fotos img{

cursor:pointer;

}


.fotos img:hover{

filter:brightness(1.15);

}
.orcamentos{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

margin-top:30px;

}
.instagram{

text-align:center;

background:#111;

}


.instagram p{

font-size:18px;

color:#ddd;

margin-bottom:30px;

}


.instagram-box{

display:flex;

justify-content:center;

}
.depoimentos{

background:#0b0b0b;

text-align:center;

}


.depoimentos .card p{

font-style:italic;

color:#ddd;

margin-bottom:20px;

}


.depoimentos .card h3{

font-size:16px;

}
.menu-mobile{

display:none;

cursor:pointer;

}


.menu-mobile span{

display:block;

width:30px;

height:3px;

background:#d4af37;

margin:6px;

}





@media(max-width:768px){


.menu-mobile{

display:block;

}


.menu{

position:absolute;

top:80px;

right:20px;

background:#111;

width:220px;

padding:20px;

border-radius:10px;

display:none;

flex-direction:column;

}


.menu.ativo{

display:flex;

}


}
